:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow:  box-shadow:0 2px 8px 2px rgba(178, 178, 178, 0.189);
}

.news1 {
  .secContainer {
    .back{
      color: whitesmoke;
      padding-top: 5rem;
      padding-bottom: 2rem;
    }
    .mainContent{
    .singleNews1 {
        border-radius: 1rem;
        border: 1.5px solid #59a4d9;
        box-shadow: 0 0 6px 0.75px #ba6c90;
        padding: 2rem;

    .amenities {
            width: 100%;
            flex-wrap: wrap;
            padding: 2rem 0;
            gap: 0.5rem;
            color: whitesmoke;

    .singleAmenities {
              border-radius: 5px;
              gap: 0.5rem;
            }
          }

    .amenity{
        color: whitesmoke;
      }
          }
        }
      }
    }
